.TableConfig {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
}

.btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btnGreen {
    color: var(--white) !important;
}

.btnIcon {
    margin-right: 4px;
    margin-top: 3px;
}

.addUserIcon {
    width: calc(1rem + 4px) !important;
    height: calc(1rem + 4px) !important;
}

.leftConfig,
.rightConfig {
    display: flex;
    align-items: center;
    gap: 20px;
}
