.tab {
    min-height: calc(100vh - 264.2px);
    max-height: calc(100vh - 264.2px);
    overflow-y: auto;

    @media (max-width: 1919px) {
        min-height: calc(100vh - 253.2px);
        max-height: calc(100vh - 253.2px);
    }
}

.tabWithoutSettings {
    min-height: calc(100vh - 187.2px);
    max-height: calc(100vh - 187.2px);
}

.settings {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0;
}

.backBtn {
    background: var(--red-warning) !important;
    color: var(--white) !important;
    transition: opacity 0.1s ease-in-out !important;

    &:hover {
        opacity: 0.8;
        transition: opacity 0.1s ease-in-out !important;
    }
}
