.WorkingCurriculumExtractErrorsModal {
    min-width: 450px;
    max-width: 650px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.btn {
    min-width: 124px;
    justify-content: space-between;
}