.TrainingScheduleDetailTableCell {
    user-select: none;
    font-size: 15px;

    @media (max-width: 1919px) {
        font-size: 10px;
    }
}

.professionalModuleCell {
    position: relative;
    border-top: 1px solid var(--light-border-color);
    border-bottom: 1px solid var(--light-border-color);
    border-left: 0;
    border-right: 0;

    &.professionalModuleCellStart {
        border-right: 0;
        border-left: 1px solid var(--light-border-color);
    }

    &.professionalModuleCellEnd {
        border-left: 0;
        border-right: 1px solid var(--light-border-color);
    }

    span.spanParent {
        display: none;
    }

    &.professionalModuleCellStart {
        span.spanParent {
            position: absolute;
            z-index: 2;
            left: 0;
            text-align: center;
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            height: 100%;
            padding: 0;

            span {
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 95%;
                margin: 0 auto;
            }
        }
    }
}
