.AutoDistributionStudentsGroupsIntroduction {
    min-height: calc(100vh - 253px);
    max-width: 70%;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nextBtn {
    min-width: 200px;
}
