.StudentGroupsListModal {
    min-width: 250px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    margin-top: 20px;
}

.btn {
    min-width: 70px;
    justify-content: space-between;
}

.editIcon {
    path {
        fill: var(--white);
    }
}

.studentsList {
    list-style-type: none;
    counter-reset: li;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.studentsItem {
    padding-left: 20px;
    position: relative;

    &:before {
        counter-increment: li;
        content: counters(li, ".") ". ";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}