.AddStudentGroupsNewGroups {

}

.tableRow {
    display: flex;
    align-items: stretch;
    position: relative;
}

.tableCell {
    min-width: 180px;
    padding: 15px 15px 15px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    text-align: left;

    @media (max-width: 1919px) {
        padding: 4px 12px;
    }
}

.tableHead {
    position: sticky;
    top: 0;
    z-index: 2;

    .tableCell {
        background-color: var(--table-head-cell-bg);
        border-radius: 0;
        border-right: 1px solid var(--light-border-color);

        &:last-child {
            border-right: none;
        }
    }

    button.tableCell {
        transition: background-color 0.2s ease-in-out;

        &:hover {
            transition: background-color 0.2s ease-in-out;
            opacity: 1;
            background-color: var(--light-table-head-cell-bg);
        }
    }
}

.tableBody {
    margin-top: 10px;

    .tableCell {
        border: 1px solid var(--light-border-color);
    }

    .tableCellId {
        border-left: 1px solid var(--light-border-color) !important;
    }

    .tableRow {
        .tableCell {
            &:not(:nth-child(2)) {
                border-left: 0;
            }
        }

        .tableCell {
            &:last-child {
                border-right: 0;
            }
        }

        &:not(:last-child) {
            .tableCell {
                border-bottom: 0;
            }
        }
    }
}

.tableCellBtns,
.tableCellBtnsWrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-width: 150px;
    max-width: 150px;
    padding: 0;
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--white) !important;
}

.tableCellBtnsWrapper {
    border-right: 0 !important;
}

.tableCellBtns {
    border-left: 1px solid var(--light-border-color) !important;
    border-right: 1px solid var(--light-border-color) !important;
}

.editBtn {
    padding: 0;
    border-right: 1px solid var(--light-border-color);
    height: 100%;
    border-radius: 0;
    flex: 1;

    svg {
        @media (max-width: 1919px) {
            scale: 0.8;
        }
    }

    &:last-child {
        border-right: 0;
    }
}

.checkbox {
    height: 100%;
    display: flex;
    align-items: center;
    width: 30px;
    background-color: var(--white);
    margin: auto 0;
}

.mainCheckbox {
    background-color: var(--white);
    margin: 0;
    display: block;
    height: 40px;
    width: 31px;
}

.tableWithCheckboxes {
    padding-left: 30px;
}

.tableCellEnrollmentYear,
.tableCellCourse,
.tableCellId {
    min-width: 120px;
    max-width: 120px;
}

.tableCellCourse,
.tableCellId {
    @media (max-width: 1919px) {
        min-width: 100px;
        max-width: 100px;
    }
}

.tableCellLang,
.tableCellEduBase,
.tableCellEduForm {
    @media (max-width: 1919px) {
        min-width: 140px;
    }
}

.tableCellCode {
    @media (max-width: 1919px) {
        min-width: 120px;
    }
}

.tableCellName {
    min-width: 220px;

    @media (max-width: 1919px) {
        min-width: 170px;
    }
}

.tableCellSpecialty {
    min-width: 330px;

    @media (max-width: 1919px) {
        min-width: 220px;
    }
}


.settings {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 15px 0;
}


.descr {
    margin-top: 15px;
    margin-bottom: 25px;
}
