.TableCell {
    border: 1px solid var(--table-cell-border-color);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25px;
    background-color: var(--table-head-cell-bg);

    & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}

.rotated {
    & > div {
        rotate: -90deg;
        height: auto;
        display: block;
        min-width: 75px;
    }
}

.yellow {
    background-color: var(--yellow-color);
}

.blue {
    background-color: var(--blue-color);
}