.textNotFilled {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    display: flex;
    align-items: stretch;
}

.cell {
    flex: 1;
    min-height: 64px;
    border: 1px solid var(--light-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;

    @media (max-width: 1599px) {
        padding: 5px;
        min-height: 42px;
    }
}

.cellGroup {
    min-width: 240px;
    max-width: 240px;

    @media (max-width: 1599px) {
        min-width: 155px;
        max-width: 155px;
    }
}

.cellBar {
    min-width: 34px;
    max-width: 34px;

    @media (max-width: 1599px) {
        min-width: 23px;
        max-width: 23px;
    }
}

.cellDate {
    min-width: 48px;
    max-width: 48px;

    @media (max-width: 1599px) {
        min-width: 32px;
        max-width: 32px;
    }
}

.cellTime {
    min-width: 61px;
    max-width: 61px;

    @media (max-width: 1599px) {
        min-width: 40px;
        max-width: 40px;
    }
}

.cellHeaderText {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: var(--main-color);
    text-align: center;
    rotate: -90deg;

    @media (max-width: 1599px) {
        font-size: 8px;
        line-height: 10px;
    }
}

.cellHeaderGroupText {
    font-size: 16px;
    line-height: 20px;
    rotate: 0deg;

    @media (max-width: 1599px) {
        font-size: 10px;
        line-height: 14px;
    }
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.weekProgress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-width: 550px;
    margin-top: 20px;
}

.weekProgressTitle {
    color: var(--secondary-text-color);
}

.days {
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: 10px;
}

.day {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    font-size: 8px;
    font-weight: 600;
    background-color: var(--light-border-color);
    border-radius: 8px;
}

.dayActive {
    background-color: var(--main-color);
}
