.qualRow {
    @media (max-width: 1535px) {
        min-width: 1430px;
    }
}

.qualName {
    @media (max-width: 1919px) {
        font: var(--font-xs) !important;
        font-weight: var(--font-semibold) !important;
    }
}

.disciplineAddBtn,
.eduActivityTypeBtn {
    justify-content: flex-start;
}