.WorkingCurriculumTrainingScheduleSelectEduModules {
    min-width: 450px;
    padding-top: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 52px;
    margin-top: 20px;
}

.btn {
    min-width: 124px;
    justify-content: space-between;
}
