.Select {
    position: relative;
    min-width: 100px;
    min-height: 40px;
}

.title {
    color: var(--white);

    @media (max-width: 1919px) {
        font: var(--font-xs) !important;
        font-weight: var(--font-semibold) !important;
    }
}

.selectedItem {
    min-width: 100%;
    background: var(--main-color);
    border-radius: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    @media (max-width: 1919px) {
        padding: 7px 12px;
    }

    &:hover {
        opacity: 0.7;
        transition: opacity 0.2s ease-in-out;
    }
}

.itemsList {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px 0;
    border: 1px solid var(--main-color);
    background-color: var(--text-color);
}

.visible {
    opacity: 1;
    visibility: visible;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.selected {
    background-color: var(--main-color);
    padding: 10px 9px;
}

.closeBtn {
    padding: 0;
}
