.Icon {
    fill: var(--white);
}

.help_circle {
    &:before {
        content: '\e900';
    }
}

.refresh {
    &:before {
        content: '\e901';
    }
}

.bar_chart {
    &:before {
        content: '\e902';
    }
}
