.TableBlock {
    margin-top: 30px;
}

.table {
    max-height: calc(100vh - 410px);
    overflow-x: auto;
    overflow-y: auto;

    @media (max-width: 1919px) {
        max-height: calc(100vh - 350px);
    }
}

.tableRow {
    display: flex;
    align-items: stretch;
    position: relative;
}

.tableCell {
    min-width: 180px;
    padding: 17px 15px 17px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    text-align: left;

    @media (max-width: 1919px) {
        padding: 4px 12px;
    }
}

.tableCellId,
.tableCellCurriculaId,
.tableCellIsActive {
    min-width: 110px;
    max-width: 110px;
}

.tableCellId,
.tableCellCurriculaId {
    @media (max-width: 1919px) {
        min-width: 105px;
        max-width: 105px;
    }
}

.tableCellIsActive {
    @media (max-width: 1919px) {
        min-width: 120px;
        max-width: 120px;
    }
}

.tableCellSpecialty {
    min-width: 370px;
    max-width: 370px;

    @media (max-width: 1919px) {
        min-width: 195px;
    }
}

.tableCellTitle {
    min-width: 320px;
    max-width: 320px;

    @media (max-width: 1919px) {
        min-width: 130px;
    }
}

.tableCellEduForm {
    @media (max-width: 1919px) {
        min-width: 90px;
        max-width: 140px;
    }
}

.tableCellAcademYear {
    @media (max-width: 1919px) {
        min-width: 165px;
        max-width: 165px;
    }
}

.tableHead {
    position: sticky;
    top: 0;
    z-index: 2;

    .tableCellId {
        border-left: 1px solid transparent !important;
    }

    .tableCell {
        background-color: var(--table-head-cell-bg);
        border-radius: 0;
        border-right: 1px solid var(--light-border-color);

        &:nth-last-child(2) {
            border-right: none;
        }
    }

    button.tableCell {
        transition: background-color 0.2s ease-in-out;

        &:hover {
            transition: background-color 0.2s ease-in-out;
            opacity: 1;
            background-color: var(--light-table-head-cell-bg);
        }
    }
}

.tableBody {
    margin-top: 10px;

    .tableCell {
        border: 1px solid var(--light-border-color);
    }

    .tableCellId {
        border-left: 1px solid var(--light-border-color) !important;
    }

    .tableCellTitle,
    .tableCellSpecialty {
        padding: 7px;

        @media (max-width: 1919px) {
            padding: 6px 4px;
        }

        & > div {
            @media (max-width: 1919px) {
                font: var(--font-xxs);
            }
        }
    }

    .tableRow {
        .tableCell {
            &:not(:first-child) {
                border-left: 0;
            }
        }

        .tableCell {
            &:nth-last-child(2) {
                border-right: 0;
            }
        }

        &:not(:last-child) {
            .tableCell {
                border-bottom: 0;
            }
        }
    }
}

.tableSortIcon {
    margin-left: auto;
    opacity: 0;
    min-width: 20px;

    &.active {
        opacity: 1;
    }
}

.cellTextBg {
    background-color: var(--table-head-cell-bg);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px;
}

.tableCellBtns,
.tableCellBtnsWrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-width: 200px;
    max-width: 200px;
    padding: 0;
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--white) !important;

    @media (max-width: 1919px) {
        min-width: 160px;
        max-width: 160px;
    }
}

.tableCellBtns {
    border-left: 1px solid var(--light-border-color) !important;
    border-right: 1px solid var(--light-border-color) !important;
}

.tableCellBtnsWrapper {
    border: none !important;
}

.editBtn {
    padding: 0;
    border-right: 1px solid var(--light-border-color);
    height: 100%;
    border-radius: 0;
    flex: 1;

    svg {
        @media (max-width: 1919px) {
            scale: 0.8;
        }
    }

    &:last-child {
        border-right: 0;
    }
}

.checkbox {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    width: 30px;
    background-color: var(--white);
}

.tableWithCheckboxes {
    padding-left: 30px;
}

.tableCellEducationBase {
    @media (max-width: 1919px) {
        min-width: 150px;
        max-width: 150px;
    }
}
