.content {
    min-height: calc(100vh - 194px);
    max-height: calc(100vh - 194px);
    overflow-y: auto;

    @media (max-width: 1919px) {
        min-height: calc(100vh - 184px);
        max-height: calc(100vh - 184px);
    }
}

.btn {
    gap: 40px;

    @media (max-width: 1919px) {
        padding: 5px 12px;
        gap: 11px;
    }
}

.exitBtnIcon {
    fill: none;
}

.settings {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
}

.classRoomsTable {
    margin-top: 40px;
}
