.SubjectsScheduleDetailFilters {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    max-width: 1159px;
    margin: 0 auto;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.select,
.btn {
    flex: 1;
}

.selectActiveItem {
    @media (max-width: 1919px) {
        padding: 12px 40px 12px 12px !important;
    }
}

.btn {
    min-height: 42px;
    max-width: 174px;
}
