.subjectName {
    & > div {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

.editingBtns {
    display: flex;
    align-items: center;
}

.editBtn {
    padding: 0;
    transition: opacity 0.2s ease;

    @media (max-width: 1919px) {
        scale: 0.8;
    }

    &:hover {
        opacity: 0.6;
        transition: opacity 0.2s ease;
    }
}