.TableBlock {
    margin-top: 30px;
}

.table {
    max-height: calc(100vh - 410px);
    overflow-x: auto;
    overflow-y: auto;

    @media (max-width: 1919px) {
        max-height: calc(100vh - 350px);
    }
}

.tableRow {
    display: flex;
    align-items: stretch;
    position: relative;
}

.tableCellId {
    min-width: 120px !important;
    max-width: 120px !important;
}

.tableCellFio {
    min-width: 350px;
}

.tableCell {
    min-width: 180px;
    padding: 15px 15px 15px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    text-align: left;

    & > div {
        word-wrap: break-word;
        overflow: hidden;
    }

    @media (max-width: 1919px) {
        padding: 12px;
    }
}

.tableHead {
    position: sticky;
    top: 0;
    z-index: 2;

    .tableCell {
        background-color: var(--table-head-cell-bg);
        border-radius: 0;
        border-right: 1px solid var(--light-border-color);

        &:nth-last-child(2) {
            border-right: none;
        }
    }

    button.tableCell {
        transition: background-color 0.2s ease-in-out;

        &:hover {
            transition: background-color 0.2s ease-in-out;
            opacity: 1;
            background-color: var(--light-table-head-cell-bg);
        }
    }
}

.tableBody {
    margin-top: 10px;

    .tableCell {
        border: 1px solid var(--light-border-color);
    }

    .tableCellId {
        border-left: 1px solid var(--light-border-color) !important;
    }

    .tableRow {
        .tableCell {
            &:not(:first-child) {
                border-left: 0;
            }
        }

        .tableCell {
            &:nth-last-child(2) {
                border-right: 0;
            }
        }

        &:not(:last-child) {
            .tableCell {
                border-bottom: 0;
            }
        }
    }
}

.tableSortIcon {
    margin-left: auto;
    opacity: 0;
    min-width: 20px;

    &.active {
        opacity: 1;
    }
}

.tableCellBtns,
.tableCellBtnsWrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-width: 150px;
    max-width: 150px;
    padding: 0;
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--white) !important;
}

.tableCellBtns {
    border-left: 1px solid var(--light-border-color) !important;
    border-right: 1px solid var(--light-border-color) !important;
}

.editBtn {
    padding: 0;
    border-right: 1px solid var(--light-border-color);
    height: 100%;
    border-radius: 0;
    flex: 1;

    svg {
        @media (max-width: 1919px) {
            scale: 0.8;
        }
    }

    &:last-child {
        border-right: 0;
    }
}

.checkbox {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    width: 30px;
    background-color: var(--white);
}

.tableCellBtnsWrapper {
    border-right: none !important;
}
