.content {
    margin-top: 20px;
    position: relative;

    @media (max-width: 1919px) {
        max-width: 1174px;
        margin: 15px auto 0;
    }
}

.title {
    @media (max-width: 1919px) {
        font-size: 16px !important;
    }
}

.table {
    margin-top: 20px;

    @media (max-width: 1919px) {
        margin-top: 15px;
    }
}

.tableRow {
    display: flex;
    align-items: stretch;
}

.tableCell {
    border: 1px solid var(--light-border-color);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableAsideName {
    background-color: var(--table-head-cell-bg);
    min-width: 200px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: 1919px) {
        min-width: 130px;
        max-width: 130px;
    }

    & > div {
        rotate: -90deg;

        @media (max-width: 1919px) {
            font-size: 13px !important;
        }
    }
}

.tableMonths {
    display: flex;
    flex: 1;
    max-width: 1770px;
}

.tableMonth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.tableMonthName {
    min-height: 50px;
    background-color: var(--table-head-cell-bg);

    @media (max-width: 1919px) {
        font-size: 13px !important;
        min-height: 33px;
        max-height: 33px;
    }
}

.tableMonthDate {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    min-width: 34.05px;
    max-width: 34.05px;

    @media (max-width: 1919px) {
        min-height: 33px;
        max-height: 33px;
        min-width: 21.9px;
        max-width: 21.9px;
    }

    & > div {
        @media (max-width: 1919px) {
            font-size: 10px !important;
            line-height: 13px !important;
        }
    }
}

.tableMonthDates {
    display: flex;
    align-items: stretch;
}

.tableCourseInfoWrapper {
    display: flex;
    align-items: stretch;
    flex: 1;
    min-height: 50px;

    @media (max-width: 1919px) {
        min-height: 33px;
    }
}

.tableCourseName {
    padding: 0;
    cursor: default;
    opacity: 1 !important;

    &:hover {
        opacity: 1 !important;
        cursor: default;
    }

    & > div {
        rotate: 0deg;

        @media (max-width: 1919px) {
            font-size: 10px !important;
        }
    }
}

.tableWeeks {
    display: flex;
    align-items: stretch;
    flex: 1;
    min-height: 100px;

    @media (max-width: 1919px) {
        min-height: 66px;
    }
}

.tableMonthEmpty {
    max-width: 34.05px;
}

.tableCourseInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 34.05px;
    max-width: 34.05px;

    @media (max-width: 1919px) {
        min-width: 21.9px;
        max-width: 21.9px;
    }

    span {
        padding: 1px 3px;
        border-radius: 5px;

        @media (max-width: 1919px) {
            padding: 1px 2px;
            border-radius: 3px;
        }
    }
}

.tableWeek {
    min-width: 34.05px;
    max-width: 34.05px;

    @media (max-width: 1919px) {
        font-size: 10px !important;
        min-width: 21.9px;
        max-width: 21.9px;
    }
}

.symbolsInfo {
    display: flex;
    align-items: stretch;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 20px auto 0;
    position: sticky;
    top: 0;
    left: 0;

    @media (max-width: 1919px) {
        margin: 15px auto 0;
        max-width: 66%;
    }
}

.symbolInfo {
    display: flex;
    align-items: center;
    row-gap: 50px;
    column-gap: 10px;
    width: 250px;
}

.symbolBox {
    min-height: 50px;
    min-width: 34.05px;
    border: 1px solid var(--light-border-color);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1919px) {
        min-width: 21.9px;
        min-height: 33px;
        font-size: 10px;
    }

    span {
        font-size: 13px;
        padding: 2px 4px;
        border-radius: 5px;

        @media (max-width: 1919px) {
            font-size: 10px;
            padding: 1px 2px;
            border-radius: 3px;
        }
    }
}

.symbolText {
    @media (max-width: 1919px) {
        font-size: 10px !important;
        line-height: 13px !important;
    }
}
