.descr {
    margin-top: 15px;
    margin-bottom: 25px;
}

.settings {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 15px 0;
}

.form {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.itemInputSpecialty,
.itemInputCode {
    flex: 1;
    height: 40px;

    & > div,
    input {
        height: 100%;
    }
}

.arrowIcon {
    width: 25px !important;
    height: 25px !important;
}
