.AddStudentGroupsFinishing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 15px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.AddStudentGroupsProcessing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner {
    margin-top: 15px;
}
