.WorkingCurriculumTrainingScheduleGeneralInfo {
    padding: 0 160px;

    @media (max-width: 1919px) {
        padding: 0;
    }
}

.title {
    @media (max-width: 1919px) {
        font-size: 16px !important;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    @media (max-width: 1919px) {
        margin-top: 15px;
    }
}

.table {
    width: 100%;
}

.tableRow {
    display: flex;
    align-items: stretch;
    position: relative;
}

.tableCell {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    text-align: left;
    border: 1px solid var(--light-border-color);

    &:not(:last-child) {
        border-right: 0;
    }

    @media (max-width: 1919px) {
        padding: 4px 12px;
    }
}

.tableBody {
    .tableCell {
        border-top: 0;
    }

    .tableCellTitle,
    .tableCellSpecialty,
    .tableCellQualification {
        padding: 8px 16px 8px 8px;
    }
}

.tableCellId {
    max-width: 100px;

    @media (max-width: 1919px) {
        max-width: 70px;
    }
}

.tableCellTitle,
.tableCellQualification {
    min-width: 300px;

    @media (max-width: 1919px) {
        min-width: 220px;
    }
}

.tableCellSpecialty,
.tableCellAcademYear {
    min-width: 250px;

    @media (max-width: 1919px) {
        min-width: 200px;
    }
}

.tableCellEducationBase,
.tableCellEduForm {
    min-width: 150px;

    @media (max-width: 1919px) {
        min-width: 130px;
    }
}

.showMoreBtn {
    padding: 0;
    align-self: flex-end;
    font-size: 15px;
    color: var(--main-color);

    @media (max-width: 1919px) {
        font: var(--font-xxs);
    }
}
