.content {
    margin-top: 20px;

    @media (max-width: 1919px) {
        max-width: 1174px;
        margin: 15px auto 0;
    }
}

.title {
    @media (max-width: 1919px) {
        font-size: 16px !important;
    }
}

.selectSymbols {
    background-color: var(--table-head-cell-bg);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    display: flex;
    align-items: stretch;
}

.theorySymbol {
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    border-radius: 1px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;

    @media (max-width: 1919px) {
        width: 17px;
        height: 17px;
    }
}

.symbolBtn {
    height: 100%;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    transition: all 0.2s ease-in-out;

    @media (max-width: 1919px) {
        padding: 8px;
        min-width: 33px;
        min-height: 33px;
    }

    &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: calc(100% - 16px);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--text-color);
        opacity: 0.1;
        border-radius: 1px;
    }

    &:last-child {
        &::before {
            display: none;
        }
    }

    &:hover {
        transition: all 0.2s ease-in-out;
        background-color: var(--main-color);
        color: var(--white);
        opacity: 1;

        .theorySymbol {
            border: 1px solid var(--white);
            transition: background-color 0.2s ease-in-out;
        }
    }
}

.activeSymbolBtn {
    background-color: var(--main-color);
    color: var(--white);
    transition: opacity 0.2s ease-in-out;

    &::before {
        display: none;
    }

    &:hover {
        transition: opacity 0.2s ease-in-out;
        opacity: 0.7;
    }

    .theorySymbol {
        border: 1px solid var(--white);
    }
}

.table {
    margin-top: 20px;

    @media (max-width: 1919px) {
        margin-top: 15px;
    }
}

.tableRow {
    display: flex;
    align-items: stretch;
}

.tableCell {
    border: 1px solid var(--light-border-color);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableAsideName {
    background-color: var(--table-head-cell-bg);
    min-width: 44px;
    max-width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1919px) {
        min-width: 36px;
        max-width: 36px;
    }

    & > div {
        rotate: -90deg;

        @media (max-width: 1919px) {
            font-size: 13px !important;
        }
    }
}

.tableMonths {
    display: flex;
    flex: 1;
    max-width: 1770px;
}

.tableMonth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.tableMonthName {
    min-height: 50px;
    background-color: var(--table-head-cell-bg);

    @media (max-width: 1919px) {
        font-size: 12px !important;
        min-height: 33px;
        max-height: 33px;
    }
}

.tableMonthDate {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    min-width: 34.05px;
    max-width: 34.05px;

    @media (max-width: 1919px) {
        min-height: 33px;
        max-height: 33px;
        min-width: 21.9px;
        max-width: 21.9px;
    }

    & > div {
        @media (max-width: 1919px) {
            font-size: 10px !important;
            line-height: 13px !important;
        }
    }
}

.tableMonthDates {
    display: flex;
    align-items: stretch;
}

.tableCourseInfoWrapper {
    display: flex;
    align-items: stretch;
    flex: 1;
    min-height: 50px;

    @media (max-width: 1919px) {
        min-height: 33px;
    }
}

.tableCourseName {
    padding: 0;
    cursor: default;
    opacity: 1 !important;

    &:hover {
        opacity: 1 !important;
        cursor: default;
    }

    & > div {
        rotate: 0deg;

        @media (max-width: 1919px) {
            font-size: 10px !important;
        }
    }
}

.deleteActiveButton {
    position: relative;
    transition: all 0.2s ease-in-out;

    & > div {
        opacity: 1;
        visibility: visible;
        transition: all 0.2s ease-in-out;
    }

    & > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;

        @media (max-width: 1919px) {
            scale: 0.7;
            transform: translate(-73%, -73%);
        }
    }

    &:hover {
        border: 1px solid var(--red-border-color);
        background-color: var(--red-color);
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        & > div {
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease-in-out;
        }

        & > svg {
            opacity: 1;
            visibility: visible;
            transition: all 0.2s ease-in-out;
        }
    }
}

.tableWeeks {
    display: flex;
    align-items: stretch;
    flex: 1;
    min-height: 100px;

    @media (max-width: 1919px) {
        min-height: 66px;
    }
}

.tableMonthEmpty {
    max-width: 34.05px;
}

.tableCourseInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 34.05px;
    max-width: 34.05px;

    @media (max-width: 1919px) {
        min-width: 21.9px;
        max-width: 21.9px;
    }

    span {
        padding: 1px 3px;
        border-radius: 5px;

        @media (max-width: 1919px) {
            padding: 1px 2px;
            border-radius: 3px;
        }
    }
}

.tableWeek {
    min-width: 34.05px;
    max-width: 34.05px;

    @media (max-width: 1919px) {
        font-size: 10px !important;
        min-width: 21.9px;
        max-width: 21.9px;
    }
}

.symbolsInfo {
    display: flex;
    align-items: stretch;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 20px auto 0;

    @media (max-width: 1919px) {
        margin: 15px auto 0;
        max-width: 66%;
    }
}

.symbolInfo {
    display: flex;
    align-items: center;
    row-gap: 50px;
    column-gap: 10px;
    width: 250px;
}

.symbolBox {
    min-height: 50px;
    min-width: 34.05px;
    border: 1px solid var(--light-border-color);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1919px) {
        min-width: 21.9px;
        min-height: 33px;
        font-size: 10px;
    }

    span {
        font-size: 13px;
        padding: 2px 4px;
        border-radius: 5px;

        @media (max-width: 1919px) {
            font-size: 10px;
            padding: 1px 2px;
            border-radius: 3px;
        }
    }
}

.symbolText {
    @media (max-width: 1919px) {
        font-size: 10px !important;
        line-height: 13px !important;
    }
}

.tableAddNewRow {
    background-color: transparent;
    padding: 0;
    border: 0;
    min-height: 36px;
}

.tableAddNewRowIcon {
    fill: var(--secondary-text-color);
    scale: 1.8;
}
