.EditStandardCurriculum {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.top {
    display: flex;
    align-items: stretch;
    gap: 16px;
}

.blockItem {
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #00000026;
    background: var(--white);
    flex: 1;
}

.bottom {
    .blockItem {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: 10px;
    }
}

.btnWrapper {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.btn {
    min-width: 180px;
    padding: 8px 20px;
}

.deleteBtn {
    color: var(--white);
    background: #ec7063;
    transition: opacity 0.2s ease-in-out;

    &:hover,
    &:active {
        background: #ec7063 !important;
        opacity: 0.7;
        transition: opacity 0.2s ease-in-out;
    }
}
